packages
/Day1/CalculationByGroupFromCollection/CalculationByGroupFromCollection/obj
/Day1/CalculationByGroupFromCollection/CalculationByGroupFromCollectionTests/obj
/Day2/PublishingHouse/PublishingHouse/bin
/Day2/PublishingHouse/PublishingHouse/obj
